# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/


.idea/*

out/*

jboss-eap-7.0.0.Alpha-installer.jar
src/main/java/com/fcfm/tienda/models/Detalle.java.rej
