.section{
    padding:1em;
}

.header{
    background-color: #f9bd39;
    text-align:center;
    color:white;
}

.header h1{
    padding-top:.4em;
}
.header img{
    width:100px;
    height:100px;
}
.header .button{
    background-color:#33C3F0;
    color:white;
}

.login{
    text-align:center;
    background-image:url('../img/background.jpg');
    padding:3em;
}
.login .container{
    background-color: rgba(205, 198, 148, 0.82);
    border:3px solid #d7d5cd;
    border-radius: 10px;
}
.main{
    height: 40em;
}
.products{
    background-color: #e7e7e7;
    padding:2em 2em 0 2em;
    float:left;
    width:70.55%;
    height:40em;

}
.products p{
    padding-top:2em;
}

.product-image img{
    height: 100px;
    width: 100px;
}
.sidebar{
    padding-top:2em;
    background-color:yellow;
    text-align: center;
    float:right;
    width:25%;
    height:40em;
}
.circle{
  border-radius:100px;
  margin-left: 4.3em;
  }

.video{
  border-radius:3px;
}
.footer{
    width:100%;
    background-color: #355ba3;
    color:white;
    padding-top:2em;
}
.footer-content{
    padding:1.5em;
}
.footer a{
    color:white;
}
